{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css"
}