.mui-badge-root {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  vertical-align: middle;
}

.mui-badge-content {
  display: inline-flex;
  align-items: center;
}

.mui-badge-badge {
  --mui-badge-translate-x: 50%;
  --mui-badge-translate-y: -50%;
  position: absolute;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0 6px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
  transform: translate(var(--mui-badge-translate-x), var(--mui-badge-translate-y)) scale(1);
  transform-origin: center;
  transition:
    transform 200ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mui-badge-standard {
  min-width: 20px;
  height: 20px;
}

.mui-badge-dot {
  min-width: 8px;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 4px;
}

.mui-badge-overlap-circular.mui-badge-anchor-top-right {
  top: 14%;
  right: 14%;
}

.mui-badge-overlap-circular.mui-badge-anchor-top-left {
  top: 14%;
  left: 14%;
}

.mui-badge-overlap-circular.mui-badge-anchor-bottom-right {
  bottom: 14%;
  right: 14%;
}

.mui-badge-overlap-circular.mui-badge-anchor-bottom-left {
  bottom: 14%;
  left: 14%;
}

.mui-badge-overlap-rectangular.mui-badge-anchor-top-right {
  top: 0;
  right: 0;
}

.mui-badge-overlap-rectangular.mui-badge-anchor-top-left {
  top: 0;
  left: 0;
}

.mui-badge-overlap-rectangular.mui-badge-anchor-bottom-right {
  bottom: 0;
  right: 0;
}

.mui-badge-overlap-rectangular.mui-badge-anchor-bottom-left {
  bottom: 0;
  left: 0;
}

.mui-badge-anchor-top-right {
  --mui-badge-translate-x: 50%;
  --mui-badge-translate-y: -50%;
}

.mui-badge-anchor-top-left {
  --mui-badge-translate-x: -50%;
  --mui-badge-translate-y: -50%;
}

.mui-badge-anchor-bottom-right {
  --mui-badge-translate-x: 50%;
  --mui-badge-translate-y: 50%;
}

.mui-badge-anchor-bottom-left {
  --mui-badge-translate-x: -50%;
  --mui-badge-translate-y: 50%;
}

.mui-badge-invisible {
  opacity: 0;
  transform: translate(var(--mui-badge-translate-x), var(--mui-badge-translate-y)) scale(0);
}

.mui-badge-color-default {
  background: #616161;
  color: #fff;
}

.mui-badge-color-primary {
  background: var(--kt-color-primary);
  color: #fff;
}

.mui-badge-color-secondary {
  background: var(--kt-color-secondary);
  color: #fff;
}

.mui-badge-color-error {
  background: var(--kt-color-error);
  color: #fff;
}

.mui-badge-color-warning {
  background: var(--kt-color-warning);
  color: #fff;
}

.mui-badge-color-info {
  background: var(--kt-color-info);
  color: #fff;
}

.mui-badge-color-success {
  background: var(--kt-color-success);
  color: #fff;
}
